body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

main {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 320px;
}

p {
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 23px;
    line-height: 22px;
    color: hsl(0, 0%, 100%);
    opacity: 0.7;
    font-weight: 300;
}

button {
    margin-top: 40px;
    padding: 18px;
    font-size: 19px;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 30px;
    background-color: hsl(224, 30%, 27%);
    cursor: pointer;
    
}

button:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%) ,hsl(241, 81%, 54%));
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsl(252, 100%, 67%) ,hsl(241, 81%, 54%));
    height: 401px;
    width: 250px;
    gap: 16px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 55px;
    padding-bottom: 55px;
    border-radius: 30px;
    position: absolute;
    right: 370px;
    
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 5px;
    line-height: 50px
}

#result {
    font-size: 23px;
    margin-top: 8px;
    margin-bottom: 18px;
    opacity: 0.7;
    font-weight: 500;
}

#seven-six, 
#great,
#result
 {
    
    color: hsl(0, 0%, 100%);
} 

#seven-six {
    font-weight: 700;
    font-size: 4.2em;
    margin-top: 40px;
}

#great {
   font-size: 31px;
   margin-top: 11px;
   margin-bottom: 3px;
   font-weight: 600;
}

#one-hundred {
    color: hsl(0, 0%, 100%);
    opacity: 0.4;
    font-size: 1.2em;
    
}

.right-container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    width: 420px;
    height: 511px;
    justify-content: end;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
}

.right-inner-container {
    display: flex;
    flex-direction: column;
   
   margin-right: 39px;
}

.result-container {
    display: flex;
    justify-content: space-between;
    padding: 16px 14px;
    width: 265px;
    border-radius: 12px;
    
}

.container-of-all-results {
    display: flex;
    flex-direction: column;
    gap: 18px;
    
}

#summary {
    font-size: 23px;
    font-weight: 700;
    margin-top: 39px;
    margin-bottom: 26px;
}

.number {
    font-size: 18px;
}

.top {
    font-size: 18px;
    margin-right: 80px;
}

.bottom {
    font-size: 18px;
    margin-right: 99px;
}

.one {
    background-color: hsl(0, 100%, 97%);
}

.two {
    background-color:hsl(39, 100%, 97%);
}

.three {
    background-color: hsl(166, 100%, 95%);
}

.four {
    background-color: hsl(234, 85%, 96%);
}

#fraction {
    opacity: 0.5;
}

#reaction {
    color: hsl(0, 100%, 67%);
    font-weight: 400;
}

#memory {
    color: hsl(39, 100%, 56%);
    font-weight: 400;
}

#verbal {
    color: hsl(166, 100%, 37%);
    font-weight: 400;
}

#visual {
    color: hsl(234, 85%, 45%);
    font-weight: 400;
}

.number, 
#fraction {
    font-weight: 600;
    font-size: 19px;
}

@media only screen and (max-width: 414px) {
    body {
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    main {
        position: unset;
        flex-direction: column;
        margin: 0;
    }

    .left-container {
        position: unset;
        width: 300px;
        border-radius: 0;
        border-bottom-left-radius: 36px;
        border-bottom-right-radius: 36px;
        height: 300px;
        justify-content: center;
        padding-bottom: 65px;
    }


    br {
        display: none;
    }
    
    .circle {
        width: 160px;
        height: 160px;
    }

    #great {
        font-size: 28px;
        margin: 0;
        margin-top: 10px;
    }

    #result {
        font-size: 21px;
    }

    .result-container {
        width: 318px;
        padding-top: 20px;
        padding-bottom: 20px;
    }


    button {
        margin: 0;
        margin-top: 26px;
        padding-top: 21px;
        padding-bottom: 21px;
        border-radius: 46px;
        font-size: 19px;
    }

    #summary {
        margin: 0;
        font-size: 21px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    #seven-six {
        font-size: 65px;
    }
    
    .top {
        margin-right: 135px;
    }

    .bottom {
        margin-right: 150px;
    }
}